@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

body {
  background-color: #2b2b2b;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 140%;
}

p {
  line-height: 140%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

img {
  width: 100%;
}

/*
============
Common Style
============
*/
.sec-padding {
  padding: 40px 0px;
}

.container {
  width: 84%;
  margin: 0px auto;
}

.main-heading {
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}

.sec-heading {
  font-size: 28px;
  margin-bottom: 10px;
}

.content-heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}

.font-22 {
  font-size: 22px;
  margin-bottom: 5px;
}

.common-pera, .pera-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.card-circle-img {
  width: 24px;
  height: 24px;
}

.btn, .black-btn {
  background-color: #a259ff;
  padding: 17px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  border-radius: 20px;
}
.btn a, .black-btn a {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

.black-btn {
  background-color: black;
  border: 1px solid #a259ff;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 9px;
}
.logo h1 {
  font-size: 18px;
  font-family: "Space Mono";
  font-weight: 700;
}

@media only screen and (min-width: 834px) {
  .container {
    width: 82.73%;
  }
  .main-heading {
    font-size: 38px;
  }
  .btn, .black-btn {
    width: initial;
    padding: 19px 0px;
  }
  .black-btn {
    width: 247px;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .contianer {
    width: 82.03%;
  }
  .main-heading {
    font-size: 67px;
    line-height: 110%;
  }
  .sec-heading {
    font-size: 38px;
    line-height: 120%;
  }
  .common-pera, .pera-16 {
    font-size: 22px;
    line-height: 160%;
  }
  .pera-16 {
    font-size: 16px;
    line-height: 140%;
  }
  .logo h1 {
    font-size: 20px;
  }
}
/*======
header
======*/
header {
  padding: 15px 0px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container ul {
  display: none;
}

@media only screen and (min-width: 1280px) {
  header .container .show-btn {
    display: none;
  }
  header .container ul {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  header .container ul a {
    font-size: 16px;
  }
  header .container ul button {
    width: 152px;
  }
  header .container ul button svg {
    width: 20px;
    height: 20px;
  }
}
/*======
Main
======*/
main {
  padding: 40px 0px;
}
main .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 40px;
}

.service-count .count {
  margin-top: 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.service-count .count div h1 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Space Mono";
}

.main-content .md-count {
  display: none;
}

.main-card {
  background-color: #3B3B3B;
  border-radius: 20px;
}
.main-card .card-body {
  padding: 20px;
}
.main-card .card-body h5 {
  margin-bottom: 10px;
}
.main-card .card-body div {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

@media only screen and (min-width: 834px) {
  main {
    padding: 80px 0px;
  }
  main .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    column-gap: 30px;
  }
  main .container .sm-count {
    display: none;
  }
  .main-content .md-count {
    display: block;
    margin-top: 20px;
  }
  .main-content .md-count .btn, .main-content .md-count .black-btn {
    width: 224px;
  }
  .main-content .md-count .count {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .service-count {
    margin-top: 30px;
  }
  .service-count .count {
    margin-top: 30px;
    justify-content: start;
    column-gap: 50px;
  }
  .service-count .count div h1 {
    font-size: 28px;
  }
  .service-count .count div p {
    font-size: 24px;
  }
  .main-content .md-count {
    margin-top: 30px;
  }
  .main-content .md-count .count {
    margin-top: 30px;
  }
}
/*=================
Trending Collection
=================*/
#trending-collection {
  padding: 40px 0px;
}
#trending-collection .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 40px;
}

.trending-collection-wrap {
  display: flex;
  flex-flow: column;
}
.trending-collection-wrap .card:nth-child(2) {
  display: none;
}
.trending-collection-wrap .card:nth-child(3) {
  display: none;
}
.trending-collection-wrap .card .card-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  margin-bottom: 15px;
}
.trending-collection-wrap .card .card-img .image:nth-child(1) {
  grid-column: 1/4;
  grid-template-rows: 1/2;
}
.trending-collection-wrap .card .card-img .image:nth-child(2) {
  grid-column: 1/2;
  grid-template-rows: 2/3;
}
.trending-collection-wrap .card .card-img .image:nth-child(3) {
  grid-column: 2/3;
  grid-template-rows: 2/3;
}
.trending-collection-wrap .card .card-img .more-img {
  grid-column: 3/4;
  grid-template-rows: 2/3;
  background-color: #a259ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "Space Mono";
}
.trending-collection-wrap .card .card-body h5 {
  margin-bottom: 10px;
}
.trending-collection-wrap .card .card-body div {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

@media only screen and (min-width: 834px) {
  #trending-collection .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
  }
  #trending-collection .container .heading-wrap {
    order: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #trending-collection .container button {
    order: 2;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #trending-collection .container .trending-collection-wrap {
    order: 3;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .trending-collection-wrap {
    flex-flow: row;
    column-gap: 30px;
  }
  .trending-collection-wrap .card:nth-child(2) {
    display: block;
  }
}
@media only screen and (min-width: 1280px) {
  #trending-collection .container {
    row-gap: 60px;
  }
  .trending-collection-wrap .card:nth-child(3) {
    display: block;
  }
}
/*==========
Top Creators
==========*/
#top-creators {
  padding: 40px 0px;
}
#top-creators .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 40px;
}

.top-creators-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
}
.top-creators-wrapper .item:nth-child(7),
.top-creators-wrapper .item:nth-child(8),
.top-creators-wrapper .item:nth-child(9),
.top-creators-wrapper .item:nth-child(10),
.top-creators-wrapper .item:nth-child(11),
.top-creators-wrapper .item:nth-child(12) {
  display: none;
}
.top-creators-wrapper .item {
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  background-color: #3B3B3B;
  border-radius: 20px;
}
.top-creators-wrapper .item .img-wrap {
  width: 60px;
}
.top-creators-wrapper .item .content p {
  display: flex;
  column-gap: 5px;
}
.top-creators-wrapper .item .content p .total-sale {
  color: #858584;
}

@media only screen and (min-width: 834px) {
  #top-creators .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: start;
    align-items: center;
  }
  #top-creators .container .heading-wrap {
    order: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #top-creators .container button {
    order: 2;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #top-creators .container .top-creators-wrapper {
    order: 3;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .top-creators-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  #top-creators {
    padding: 80px 0px;
  }
  .top-creators-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .top-creators-wrapper .item:nth-child(7),
  .top-creators-wrapper .item:nth-child(8),
  .top-creators-wrapper .item:nth-child(9),
  .top-creators-wrapper .item:nth-child(10),
  .top-creators-wrapper .item:nth-child(11),
  .top-creators-wrapper .item:nth-child(12) {
    display: flex;
  }
  .top-creators-wrapper .item {
    flex-flow: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
  }
  .top-creators-wrapper .item .img-wrap {
    width: 120px;
  }
}
/*=============
Browse Category
=============*/
#browse-category {
  padding: 40px 0px;
}
#browse-category .container .header-wrap {
  margin-bottom: 40px;
}

.brows-category-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}
.brows-category-wrap .card {
  border-radius: 20px;
  background-color: #3B3B3B;
}
.brows-category-wrap .card .card-body {
  padding: 20px;
}
.brows-category-wrap .card .card-body h5 {
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 834px) {
  .brows-category-wrap {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  #browse-category {
    padding: 80px 0px;
  }
  #browse-category .container .header-wrap {
    margin-bottom: 60px;
  }
  .brows-category-wrap .card .card-body h5 {
    font-size: 22px;
  }
}
/*=======
More NFTs
=======*/
#more-nfts {
  padding: 40px 0px 60px 0px;
}
#more-nfts .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 40px;
}

.more-nfts-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
}
.more-nfts-wrap .card {
  background-color: #3B3B3B;
  border-radius: 20px;
}
.more-nfts-wrap .card .img-wrap {
  width: 100%;
}
.more-nfts-wrap .card .card-body {
  padding: 20px 20px 25px 20px;
}
.more-nfts-wrap .card .card-body .avatar {
  margin-bottom: 25px;
}
.more-nfts-wrap .card .card-body .avatar div {
  display: flex;
  column-gap: 12px;
  margin-top: 5px;
}
.more-nfts-wrap .card .card-body .avatar div p {
  font-family: "Space Mono";
}
.more-nfts-wrap .card .card-body .price-wrap {
  display: flex;
  justify-content: space-between;
}
.more-nfts-wrap .card .card-body .price-wrap div p {
  margin-bottom: 8px;
  color: #858584;
}
.more-nfts-wrap .card .card-body .price-wrap div p,
.more-nfts-wrap .card .card-body .price-wrap div span {
  font-size: 12px;
  font-family: "Space Mono";
  font-weight: 400;
}

@media only screen and (min-width: 834px) {
  #more-nfts {
    padding: 40px 0px 80px 0px;
  }
  #more-nfts .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  #more-nfts .container .heading-wrap {
    order: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #more-nfts .container button {
    order: 2;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 247px;
    padding: 15px 0px;
    margin-left: auto;
  }
  #more-nfts .container .more-nfts-wrap {
    order: 3;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .more-nfts-wrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
  }
  .more-nfts-wrap .card:nth-child(3) {
    display: none;
  }
  .more-nfts-wrap .card .img-wrap {
    height: 295px;
  }
  .more-nfts-wrap .card .img-wrap img {
    height: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  #more-nfts {
    padding: 80px 0px;
  }
  #more-nfts .container {
    row-gap: 60px;
  }
  .more-nfts-wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .more-nfts-wrap .card:nth-child(3) {
    display: block;
  }
}
/*============
Magic Mashroom
============*/
#magic-mashroom {
  padding: 120px 0px 40px 0px;
  background-image: url(../images/trending-collection2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
}
#magic-mashroom .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
}
#magic-mashroom .container .content div {
  width: 151px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #3B3B3B;
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 30px;
}
#magic-mashroom .container .content h1 {
  font-size: 38px;
}
#magic-mashroom .container .content .md-btn {
  display: none;
}
#magic-mashroom .container .time-wrap {
  width: 315px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
}
#magic-mashroom .container .time-wrap .time {
  display: flex;
  column-gap: 10px;
}
#magic-mashroom .container .time-wrap .time div {
  display: flex;
  flex-flow: column;
}
#magic-mashroom .container .time-wrap .time div h1 {
  display: flex;
  column-gap: 20px;
  font-family: "Space Mono";
  font-size: 38px;
  line-height: 120%;
}
#magic-mashroom .container .time-wrap .time div p {
  font-size: 12px;
  margin-top: 5px;
}
#magic-mashroom .container .sm-btn {
  background-color: white;
}
#magic-mashroom .container .sm-btn a {
  color: black;
}

#magic-mashroom::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
}

@media only screen and (min-width: 834px) {
  #magic-mashroom {
    padding: 360px 0px 60px 0px;
  }
  #magic-mashroom .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: end;
    column-gap: 20px;
  }
  #magic-mashroom .container .content .md-btn {
    display: flex;
    width: 198px;
    background-color: white;
    margin-top: 30px;
  }
  #magic-mashroom .container .content .md-btn a {
    color: black;
  }
  #magic-mashroom .container .time-wrap {
    width: 315px;
    padding: 30px;
  }
  #magic-mashroom .container .sm-btn {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  #magic-mashroom {
    padding: 300px 0px 60px 0px;
  }
  #magic-mashroom .container .content h1 {
    font-size: 48px;
  }
}
/*==========
How It Work
==========*/
#how-it-work {
  padding: 40px 0px;
}
#how-it-work .container .header-wrap {
  margin-bottom: 40px;
}
#how-it-work .container .header-wrap h2 {
  margin-bottom: 10px;
}

.how-it-work-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
}
.how-it-work-wrapper .content {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #3B3B3B;
  border-radius: 20px;
}
.how-it-work-wrapper .content .img-wrap {
  width: 36.36%;
}
.how-it-work-wrapper .content .img-wrap img {
  width: 100%;
}
.how-it-work-wrapper .content .description {
  width: 56.3%;
}
.how-it-work-wrapper .content .description h5 {
  font-size: 16px;
  margin-bottom: 10px;
}
.how-it-work-wrapper .content .description p {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

@media only screen and (min-width: 834px) {
  .how-it-work-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
  }
  .how-it-work-wrapper .content {
    flex-flow: column wrap;
    row-gap: 30px;
    text-align: center;
    padding: 20px 20px 30px 20px;
  }
  .how-it-work-wrapper .content .img-wrap {
    width: 63.33%;
  }
  .how-it-work-wrapper .content .description {
    width: 100%;
  }
  .how-it-work-wrapper .content .description h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .how-it-work-wrapper .content .description p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1280px) {
  #how-it-work {
    padding: 40px 0px 80px 0px;
  }
  .how-it-work-wrapper .content {
    padding: 30;
  }
  .how-it-work-wrapper .content .description h5 {
    font-size: 22px;
  }
  .how-it-work-wrapper .content .description p {
    font-size: 16px;
  }
}
/*====================
join our weekly digest
====================*/
#join-weekly-digest {
  padding: 40px 0px;
}
#join-weekly-digest .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 30px;
}
#join-weekly-digest .container .img-wrap {
  width: 100%;
}
#join-weekly-digest .container .content h2 {
  padding-right: 6px;
}
#join-weekly-digest .container .content p {
  margin: 10px 0px 40px 0px;
}
#join-weekly-digest .container .content form div input {
  background-color: white;
  padding: 12px 20px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #858584;
}
#join-weekly-digest .container .content form div button {
  padding: 12px 20px;
}

@media only screen and (min-width: 834px) {
  #join-weekly-digest {
    padding: 40px 0px 80px 0px;
  }
  #join-weekly-digest .container {
    align-items: center;
    grid-template-columns: repeat(2, 47.61%);
    grid-template-rows: 1fr;
    column-gap: 30px;
    padding: 40px 30px;
    border-radius: 20px;
    background-color: #3B3B3B;
  }
  #join-weekly-digest .container .img-wrap {
    height: 100%;
  }
  #join-weekly-digest .container .img-wrap img {
    height: 100%;
  }
  #join-weekly-digest .container .content form div input {
    width: 100%;
    padding: 14px 20px;
  }
  #join-weekly-digest .container .content form div button {
    width: 100%;
    padding: 14px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  #join-weekly-digest .container {
    grid-template-columns: repeat(2, 45%);
    column-gap: 80px;
    padding: 60px;
  }
  #join-weekly-digest .container .img-wrap {
    height: 310px;
  }
  #join-weekly-digest .container .img-wrap img {
    height: 100%;
  }
  #join-weekly-digest .container .content form div {
    position: relative;
    width: 425px;
  }
  #join-weekly-digest .container .content form div input {
    width: 100%;
    padding: 19px 20px;
  }
  #join-weekly-digest .container .content form div button {
    position: absolute;
    top: 0;
    right: 0;
    width: initial;
    padding: 18px 40px;
  }
}
/*=======
Footer
=======*/
footer {
  padding: 40px 0px;
  background-color: #3B3B3B;
}
footer .container p,
footer .container li a {
  color: #cccccc;
}
footer .container .footer-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #858584;
}
footer .container .footer-top .content {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}
footer .container .footer-top .content:nth-child(1) .social-wrap {
  margin-top: -5px;
  display: flex;
  column-gap: 10px;
}
footer .container .footer-top .content:nth-child(3) form div input {
  margin-bottom: 16px;
  width: 100%;
  border-radius: 20px;
  padding: 12px 20px;
  border: 1px solid #858584;
  font-size: 16px;
}
footer .container .footer-top .content:nth-child(3) form div button {
  padding: 12px 20px;
}
footer .container .createdby p {
  font-size: 12px;
}

@media only screen and (min-width: 834px) {
  footer .container .footer-top .content:nth-child(3) form div {
    width: 430px;
    position: relative;
  }
  footer .container .footer-top .content:nth-child(3) form div input {
    margin-bottom: 0px;
    padding: 19px 20px;
  }
  footer .container .footer-top .content:nth-child(3) form div button {
    padding: 18px 40px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1280px) {
  footer .container p,
  footer .container li a {
    font-size: 16px;
  }
  footer .container .footer-top {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    margin-bottom: 30px;
  }
  footer .container .footer-top .content:nth-child(1) {
    margin-right: 80px;
    width: 240px;
  }
  footer .container .footer-top .content:nth-child(2) {
    margin-right: 107px;
  }
  footer .container .footer-top .content:nth-child(3) p {
    padding-right: 180px;
  }
  footer .container .footer-top .content:nth-child(3) form div input {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
