/*=============
Browse Category
=============*/
#browse-category {
  padding: 40px 0px;
  .container {
    .header-wrap {
      margin-bottom: 40px;
    }
  }
}

.brows-category-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 20px;

  .card {
    border-radius: 20px;
    background-color: $gray;

    .card-body {
      padding: 20px;

      h5 {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

@include media($md) {
  .brows-category-wrap {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
}
@include media($lg) {
  #browse-category {
    padding: 80px 0px;
    .container {
      .header-wrap {
        margin-bottom: 60px;
      }
    }
  }

  .brows-category-wrap {
    .card {
      .card-body {
        h5 {
          font-size: 22px;
        }
      }
    }
  }
}
