/*======
header
======*/
header {
  padding: 15px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: none;
    }
  }
}

@include media($lg) {
  header {
    .container {
      .show-btn {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        column-gap: 50px;
        a {
          font-size: 16px;
        }
        button {
          width: 152px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
