@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap");

$work: "Work Sans";
$mono: "Space Mono";
$background: #2b2b2b;
$purple: #a259ff;
$gray: #3B3B3B;
$border: #858584;
$description: #cccccc;
$md: "834px";
$lg: "1280px";

@mixin media($screen-size) {
  @media only screen and (min-width: $screen-size) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $work;
}
body {
  background-color: $background;
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 140%;
}
p {
  line-height: 140%;
}
button {
  border: none;
  background: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
img{
  width: 100%;
}

/*
============
Common Style
============
*/
.container {
  width: 84%;
  margin: 0px auto;
}
.main-heading {
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}
.sec-heading {
  font-size: 28px;
  margin-bottom: 10px;
}
.content-heading{
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}
.font-22{
  font-size: 22px;
  margin-bottom: 5px;
}
.common-pera{
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.pera-16{
  @extend .common-pera;
}
.card-circle-img{
  width: 24px;
  height: 24px;
}
.btn {
  background-color: $purple;
  padding: 16px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  border-radius: 20px;

  a{
    font-size: 16px;
    font-weight: 600;
    line-height: 140%
  }
}
.black-btn{
  @extend .btn;
  background-color: black;
  border: 1px solid $purple;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 9px;

  h1 {
    font-size: 18px;
    font-family: $mono;
    font-weight: 700;
  }
}

@include media($md) {
  .container {
    width: 82.73%;
  }
  .main-heading {
    font-size: 38px;
  }
  .btn {
    width: initial;
  }
  .black-btn{
    width: 247px;
    padding: 19px 0px;
    margin-left: auto;
  }
}
@include media($lg) {
  .contianer {
    width: 82.03%;
  }
  .main-heading {
    font-size: 67px;
    line-height: 110%;
  }
  .sec-heading {
    font-size: 38px;
    line-height: 120%;
  }
  .common-pera{
    font-size: 22px;
    line-height: 160%;
  }
  .pera-16{
    font-size: 16px;
    line-height: 140%;
  }
  .logo {
    h1 {
      font-size: 20px;
    }
  }
}

@import "./_header";
@import "./_main";
@import "./_trending-collection";
@import "./_top-creators";
@import "./_browse-category";
@import "./_more-NFTs";
@import "./_magic-mashroom";
@import "./_how-it-work";
@import "./_join-our-weekly-digest";
@import "./_footer";  
