@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;700;800&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable */
:root{
    --inter: 'Inter', sans-serif;
    --poppins: 'Playfair Display', serif;
    --playfair: 'Poppins', sans-serif;
    --darkblue: #094B72;
    --thin-sky: #F2F7FF;
}