@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;700;800&display=swap");

/*** Reset ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Global Style ***/
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*** Variable ***/
:root {
  --inter: "Inter", sans-serif;
  --playfair: "Playfair Display", serif;
  --poppins: "Poppins", sans-serif;
  --darkoliv: #0f6e8c;
  --mdblue: #004d7b;
  --darkblue: #094b72;
  --thinblue: #e7f6ff;
  --thin-sky: #f2f7ff;
  --thin-gray: #f4f5f7;
  --md-gray: #8b8c8c;
  --dark-gray: #4f4f4f;
  --card-color: #fcfcfc;
}

/*** Common Style ***/
.heading {
  font-size: 48px;
  font-family: var(--playfair);
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 64px;
}
.poppins-pera {
  font-family: var(--poppins);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 36px;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
}

/*** Header ***/
header {
  padding: 32px 0px;
}
header .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .logo-wrap {
  display: flex;
  column-gap: 13px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
header .logo-wrap .logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--poppins);
  font-weight: 700;
}
header .logo-wrap p {
  color: var(--darkblue);
  font-family: var(--poppins);
  font-weight: 700;
}
/* header menu */
.menuber {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  column-gap: 100px;
}
.menuber ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 56px;
}
.menuber ul li a {
  color: black;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.5px;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 0px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: var(--darkblue);
}
.input-search::placeholder {
  color: var(--darkblue);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
}
.btn-search {
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--darkblue);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid var(--darkblue);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*** Main ***/


/*** Legalization ***/
#legalization {
  background-color: var(--thin-sky);
  padding: 126px 0px;
}
#legalization .container {
  display: flex;
  flex-flow: row;
  column-gap: 60px;
}
/* Legalization content */
.legalization-content {
  min-width: 419px;
  margin-top: 50px;
}
.legalization-content p {
  font-size: 20px;
  color: var(--md-gray);
  padding-right: 35px;
  margin-top: 25px;
}
/* legalization cards */
.legalization-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  column-gap: 30px;
  row-gap: 26px;
}
.card {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  width: min(100%, 255px);
  height: 255px;
  padding: 24px;
  background-color: var(--card-color);
  border-radius: 8px;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}
.card .img-wrap {
  width: 37px;
  height: 37px;
}
.card .img-wrap img {
  width: 100%;
  height: 100%;
}
.card h3 {
  font-family: var(--playfair);
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 18px 0px 10px 0px;
}
.card p {
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  letter-spacing: 0.3px;
  color: var(--md-gray);
}

/*** Count That Matter ***/
#count-that-matter {
  background: url(./images/count-that-matter-bg.png) center no-repeat;
  background-size: cover;
  padding: 55px 0px;
}
.count-content {
  text-align: center;
  margin-bottom: 48px;
}
.count-content h1 {
  font-weight: 900;
  color: white;
}
.count-content p {
  color: white;
  font-size: 18px;
  font-family: var(--poppins);
  font-weight: 400;
  margin-top: 8px;
}
.count-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.count-items .item {
  border-right: 2px solid var(--darkoliv);
  padding: 0px 15px;
  text-align: center;
  width: 255px;
}
.count-items .item:last-child {
  border-right: none;
}
.count-items .item h1 {
  font-family: var(--poppins);
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  color: white;
}
.count-items .item p {
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: white;
}

/*** Testimonials ***/
#testimonial {
  background-color: var(--thin-sky);
  padding: 61px 0px 91px 0px;
}
#testimonial h1 {
  text-align: center;
  margin-bottom: 51px;
}
.client-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
}
.client {
  width: min(100%, 540px);
  text-align: center;
}
.client-revew {
  width: 100%;
  height: 220px;
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  margin-bottom: 28px;
}
.client-revew h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
}
.client-revew p {
  font-size: 14px;
  line-height: 24px;
}
.client .person {
  display: flex;
  flex-flow: row wrap;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}
.client .person div:last-child {
  text-align: start;
}
.client .person div:last-child h5 {
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.client .person div:last-child p {
  font-size: 14px;
  font-family: var(--inter);
  font-weight: 400;
  line-height: 24px;
}
.person .img-wrap {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.person .img-wrap img {
  width: 100%;
}

/*** Complex Question ***/
#complex-question {
  padding: 36px 0px 40px 0px;
}
#complex-question .container {
  display: flex;
  column-gap: 22px;
  margin-left: 165px;
}
/* question content */
.questions-content {
  max-width: 821px;
}
.questions-content p {
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin: 24px 0px 18px 0px;
}
.call-btn {
  border: none;
  background-color: var(--darkblue);
  padding: 16px 38px;
  border-radius: 8px;
}
.call-btn a {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
/* question img */
.questions-img {
  width: 330px;
  margin-right: -70px;
}
.questions-img img {
  width: 100%;
}

/*** About ***/
#about {
  background-color: var(--darkblue);
  padding: 91px 0px;
}
#about .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: start;
}
.large-logo-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 10px;
  margin-top: -18px;
}
.large-logo-wrap p {
  font-family: var(--poppins);
  font-size: 22px;
  color: var(--thin-gray);
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 1.5px;
}
.large-logo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.large-logo p {
  font-family: var(--poppins);
  font-size: 24px;
  font-weight: 700;
  color: var(--darkoliv);
}
.link-wrap {
  display: flex;
  column-gap: 30px;
}
.link-wrap ul {
  width: 160px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 12px;
}
.link-wrap ul li p,
a {
  color: var(--thin-gray);
  font-family: var(--inter);
}
.link-wrap ul li p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}
.link-wrap ul li a {
  font-size: 16px;
  line-height: 24px;
}

/*** Footer ***/
footer {
  background-color: var(--mdblue);
}
.footer_wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
}
.footer_wrap p {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 14px;
  color: var(--thin-gray);
}
.social_wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 16px;
}
.social_wrap div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--darkoliv);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_wrap div a {
  color: white;
  font-size: 12px;
}
